.border {
    &__color {
        &--red {
            border-color: red;
        }
    }
}
.color {
    &--green {
        color: green;
    }
    &--red {
        color: red;
    }
    &--orange {
        color: orange;
    }
    &--blue {
        color: blue;
    }
}
