@import "../../styles/ITcss/settings/variables.scss";
.textarea {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 32px;
    line-height: 1.5;
    vertical-align: bottom;
    border: 1px solid $begi;
    border-radius: 5px;
    padding: 5px 7px;
    &:hover,
    :focus {
        border-color: $base_color;
    }
    &:focus {
        box-shadow: 0 0 0 2px rgba($color: $base_color, $alpha: 0.4);
    }
}
