// @include b('o-layout') {
  // margin:  0;
  // padding: 0;
  // list-style: none;
  // margin-left: -$base-spacing-unit;
  // @include e('item') {
  //     display: inline-block;
  //     padding-left: $base-spacing-unit;
  // }
// }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  background-color: rgba(0,0,0,0.65);
  opacity: .3;
}